/acionamento_sequencial_de_leds.X/nbproject/
/acionamento_sequencial_de_leds.X/build/
/acionamento_sequencial_de_leds.X/dist/

/adc_10bits.X/nbproject/
/adc_10bits.X/build/
/adc_10bits.X/dist/

/contador_dezena.X/nbproject/
/contador_dezena.X/build/
/contador_dezena.X/dist/

/contador_progressivo_regressivo.X/nbproject/
/contador_progressivo_regressivo.X/build/
/contador_progressivo_regressivo.X/dist/

/contador.X/nbproject/
/contador.X/build/
/contador.X/dist/

/exemplo_conversor_ac.X/nbproject/
/exemplo_conversor_ac.X/build/
/exemplo_conversor_ac.X/dist/

/final_project/v1.X/nbproject/
/final_project/v1.X/build/
/final_project/v1.X/dist/

/led_swich.X/nbproject/
/led_swich.X/build/
/led_swich.X/dist/

/pisca_pisca_com_input.X/nbproject/
/pisca_pisca_com_input.X/build/
/pisca_pisca_com_input.X/dist/

/pisca_pisca_interruption.X/nbproject/
/pisca_pisca_interruption.X/build/
/pisca_pisca_interruption.X/dist/

/pisca_pisca.X/nbproject/
/pisca_pisca.X/build/
/pisca_pisca.X/dist/

/projeto8.X/nbproject/
/projeto8.X/build/
/projeto8.X/dist/

/prova_asm_1.X/nbproject/
/prova_asm_1.X/build/
/prova_asm_1.X/dist/

/pwm_sort.X/nbproject/
/pwm_sort.X/build/
/pwm_sort.X/dist/

/revisao_p1.X/nbproject/
/revisao_p1.X/build/
/revisao_p1.X/dist/

