/acionamento_sequencial_de_leds.X/nbproject/private/
/acionamento_sequencial_de_leds.X/build/default/
/acionamento_sequencial_de_leds.X/dist/default/

/adc_10bits.X/nbproject/private/
/adc_10bits.X/build/default/
/adc_10bits.X/dist/default/

/contador_dezena.X/nbproject/private/
/contador_dezena.X/build/default/
/contador_dezena.X/dist/default/

/contador_progressivo_regressivo.X/nbproject/private/
/contador_progressivo_regressivo.X/build/default/
/contador_progressivo_regressivo.X/dist/default/

/contador.X/nbproject/private/
/contador.X/build/default/
/contador.X/dist/default/

/exemplo_conversor_ac.X/nbproject/private/
/exemplo_conversor_ac.X/build/default/
/exemplo_conversor_ac.X/dist/default/

/final_project/nbproject/private/
/final_project/build/default/
/final_project/dist/default/

/led_swich.X/nbproject/private/
/led_swich.X/build/default/
/led_swich.X/dist/default/

/pisca_pisca_com_input.X/nbproject/private/
/pisca_pisca_com_input.X/build/default/
/pisca_pisca_com_input.X/dist/default/

/pisca_pisca_interruption.X/nbproject/private/
/pisca_pisca_interruption.X/build/default/
/pisca_pisca_interruption.X/dist/default/

/pisca_pisca.X/nbproject/private/
/pisca_pisca.X/build/default/
/pisca_pisca.X/dist/default/

/projeto8.X/nbproject/private/
/projeto8.X/build/default/
/projeto8.X/dist/default/

/prova_asm_1.X/nbproject/private/
/prova_asm_1.X/build/default/
/prova_asm_1.X/dist/default/

/pwm_sort.X/nbproject/private/
/pwm_sort.X/build/default/
/pwm_sort.X/dist/default/

/revisao_p1.X/nbproject/private/
/revisao_p1.X/build/default/
/revisao_p1.X/dist/default/

